.container {
    overflow: hidden;
    text-align: center;
    position: relative;
    font-family: Arial, sans-serif;
}

.top-menu-container {
    margin: auto;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lm-logo {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    float: left;
    color: black;
}

.lm-logo span {
    display: inline-block;
    font-weight: bold;
    font-size: 32px;
}

.lm-logo:hover {
    color: #2e2e2e;
}

.top-menu-items {
    display: inline-block;
    text-align: center;
}

.top-menu-item {
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    color: #010000;
    margin: 0 10px;
}

.top-menu-item:hover {
    color: #616060;
}

.hero-section {
    margin-top:150px;
    height: 300px;
}

.hero-section-left {
    float: left;
    width: 50%;
    height: 300px;
    justify-content: center;
    align-items: center;
}

.hero-section-left-container {
    width: 500px;
    float: right;
}

.hero-section-left h1 {
    font-size: 46px;
    font-weight: bold;
}

.hero-section-left h2 {
    font-size: 42px;
    font-weight: lighter;
}

.line1 {
    float: right;
    margin-bottom: -80px;
}

.line2, .line3 {
    float: right;
    height: 50%;
}

.line2 h2 {
    font-size: 42px;
    font-weight: lighter;
    margin-right: 20px;
}

.line2 h2:hover {
    color: #616060;
}

.line3 h1:hover {
    color: #4967a1;
}

.line3 h1 {
    font-size: 46px;
    font-weight: bold;
    margin-top: 40px;
}

.hero-section-left-description {
    font-size: 14px;
    margin-top: -40px;
    margin-bottom: 20px;
    float: right;
    width: 400px;
    text-align: justify;
}

.hero-section-buttons {
    float: right;
    width: 400px;
}

.contact-me-button {
    background-color: #323232;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 10px 20px;
    margin-right: 20px;
    font-size: 14px;
    cursor: pointer;
    width: 140px;
    height: 45px;
}

.contact-me-button:hover {
    background-color: #505050;
}

.resume-button {
    background-color: white;
    color: #323232;
    border: 1px solid #323232;
    border-radius: 12px;
    padding: 10px 5px;
    font-size: 14px;
    cursor: pointer;
    width: 140px;
    height: 45px;
}

.resume-button:hover {
    background-color: #f2f2f2;
}

.hero-section-right {
    float: right;
    width: 50%;
    height: 300px;
    justify-content: center;
    align-items: center;
}

.hero-section-right-image {
    height: 300px;
    margin-left: 50px;
    overflow: hidden;
    float: left;
}

.hero-section-right-image img {
    height: 300px;
    object-fit: cover;
    filter: grayscale(100%);
}

.hero-section-right-image:hover img {
    filter: none;
}

.projects-introduction {
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.projects-introduction-title {
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 10px;
}

.projects-introduction-description {
    font-size: 14px;
    text-align: center;
    font-weight: lighter;
    width: 400px;
}

.projects-wrapper {
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-container {
    width: 1200px;
}

.project-item {
    background-color: #d9d9d9;
    border-radius: 25px;
    height: 250px;
    width: 300px;
    display: inline-block;
    margin: 10px 10px 10px 10px;
    vertical-align: top;
    padding: 10px;
    border: 1px solid #c2c1c1;
    filter: grayscale(100%);
}

.project-item:hover {
    background-color: #f2f2f2;
    filter: none;
}

.project-item a {
    text-decoration: none;
    color: #010000;
}

.project-item-title {
    font-size: 18px;
    font-weight: bold;
}

.project-item-description {
    font-size: 14px;
}

.project-item-image-1 {
    background-image: url("parastas_250.png");
    height: 106px;
    width: 250px;
    background-repeat: no-repeat;
    margin: 10px 10px 10px 25px;
}

.project-item-image-2 {
    background-image: url("mancala_250.png");
    height: 150px;
    width: 250px;
    background-repeat: no-repeat;
    margin: 10px 10px 10px 25px;
}

.project-item-image-3 {
    background-image: url("fruittiles_90.png");
    height: 150px;
    width: 90px;
    background-repeat: no-repeat;
    margin: 10px 10px 10px 105px;
}

.project-item-image-4 {
    background-image: url("omg_150.png");
    height: 150px;
    width: 106px;
    background-repeat: no-repeat;
    margin: 10px 10px 10px 97px;
}

.project-item-image-5 {
    background-image: url("indy_detector_150.png");
    height: 150px;
    width: 147px;
    background-repeat: no-repeat;
    margin: 10px 10px 10px 76px;
}

.footer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-linkedin {
    background-image: url("linkedin_30.png");
    height: 30px;
    width: 50px;
    background-repeat: no-repeat;
    margin: 0px 10px 0px 10px;
    float: right;
    filter: grayscale(100%);
}

.footer-linkedin:hover {
    filter: none;
}

.footer-github {
    background-image: url("github_30.png");
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    margin: 0px 10px 0px 10px;
    float: right;
    filter: grayscale(100%);
}

.footer-github:hover {
    filter: none;
}

.column {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.job {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    width: 300px;
    height: 270px;
    filter: grayscale(100%);
}

.job[data-id]:hover {
    border: 1px solid #616060;
    filter: none;
}

.job.hovered {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.job-title {
    color: #4967a1;
}

.right-column a {
    text-decoration: none;
    color: #010000;
}

.job-company {
    font-weight: bold;
    color: black;
}

.job-text {
    font-size: 12px;
    color: #888;
    margin-top: 5px;
}

.job-picture {
    height: 200px;
    width: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
}

.job-picture img {
    display: block;
    margin: 0 auto;
}

.column-container {
    width: 1000px;
}

.column-flex {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 1000px;
}

.empty-divider {
    height: 300px;
}

.left-column {
    width: 650px;
    margin-right: 50px;
}

.left-column a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #4967a1;
}

.right-column {
    width: 300px;
}

.year-divider {
    height: 18px;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    text-color: #616060;
    background: linear-gradient(to right, white, #f5f7f6);
    border-radius: 10px;
}

.year-divider a {
    text-decoration: none;
    text-color: #616060;
}

.year-divider:hover {
    filter: opacity(0.5);
}

.line-divider {
    height: 300px;
    border-left: 2px solid #616060;
}

.line-divider-start {
  height: 150px;
  border-left: 2px solid;
  border-image: linear-gradient(to bottom, white, #616060) 1;
}

.line-divider-end {
  height: 150px;
  border-left: 2px solid;
  border-image: linear-gradient(to bottom, #616060, white) 1;
}

.red { background-color: red; }
.blue { background-color: blue; }
.orange { background-color: orange; }
.green { background-color: green; }
.yellow { background-color: yellow; }
.brown { background-color: brown; }


.right-arrow {
    background-image: url("right_arrow.png");
    height: 135px;
    width: 401px;
    background-repeat: no-repeat;
}

.left-arrow {
    background-image: url("left_arrow.png");
    height: 135px;
    width: 401px;
    background-repeat: no-repeat;
}

.right-arrow:hover {
    filter: opacity(0.5);
}

.left-arrow:hover {
    filter: opacity(0.5);
}

.bottom-year {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    height: 180px;
    position: relative;
}

.bottom-year-text {
    text-align: left;
    position: absolute;
    bottom: 10px;
    left: 0;
}

.bottom-year-text:hover {
    color: #616060;
}

.top-year {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    height: 140px;
    position: relative;
}

.top-year-text {
    text-align: right;
    position: absolute;
    bottom: 10px;
    right: 0;
}

.top-year-text:hover {
    color: #616060;
}

.top-year-text-2 {
    text-align: right;
    position: absolute;
    top: 10px;
    right: 0;
}

.top-year-text-2:hover {
    color: #616060;
}

.text-box {
    position: absolute;
    display: none;
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 300px;
}

.about-wrapper {
  margin-top: 150px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 80vh;
}

.speech-bubble {
  position: relative;
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 10px;
  margin: 20px;
  width: 400px;
}

.speech-bubble::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent #f5f5f5;
  transform: translateY(-50%);
}

.speech-bubble a {
    text-decoration: none;
    color: #4967a1;
    font-weight: bold;
}

.speech-bubble a:hover {
    color: #616060;
}

.about-image {
    filter: grayscale(100%);
}

.about-image:hover {
    filter: none;
}
