<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Lucian Musat</title>
  <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='/favicon.ico') }}">
</head>

<body>
    <div class="container">
        <a href="/"><div class="lm-logo"><span>LM</span></div></a>
        <div class="top-menu-container">
            <div class="top-menu-items">
                <a href="/"><div class="top-menu-item">About</div></a>
                <a href="/resume"><div class="top-menu-item">Resume</div></a>
                <a href="/contact"><div class="top-menu-item">Contact</div></a>
            </div>
        </div>

        <div class="projects-wrapper">
            <div class="column-container">
                <div class="column-flex">
                    <div class="left-column">
                        <div class="line-divider-start"></div>
                        <a href="#"><div class="year-divider" data-target="job1">&bull; 2010</div></a>
                        <div class="line-divider"></div>
                        <a href="#"><div class="year-divider" data-target="job2">&bull; 2013</div></a>
                        <div class="line-divider"></div>
                        <a href="#"><div class="year-divider" data-target="job3">&bull; 2016</div></a>
                        <div class="line-divider"></div>
                        <a href="#"><div class="year-divider" data-target="job4">&bull; 2023</div></a>
                        <div class="line-divider-end"></div>
                    </div>
                    <div class="right-column">
                        <a href="#">
                          <div class="job" data-id="job1" onmouseover="showTextBox(1)" onmouseout="hideTextBox()">
                            <div class="job-title">Support Engineer</div>
                            <div class="job-picture"><img src="{{ url_for('static', path='/eservglobal.png') }}"></div>
                            <div class="job-company">EservGlobal</div>
                            <div class="job-text">Australian telecom software company</div>
                          </div>
                        </a>

                         <a href="#">
                          <div class="job" data-id="job2" onmouseover="showTextBox(2)" onmouseout="hideTextBox()">
                            <div class="job-title">Automation Engineer</div>
                            <div class="job-picture"><img src="{{ url_for('static', path='/intel.png') }}"></div>
                            <div class="job-title">Intel Corporation</div>
                            <div class="job-text">American microchip manufacturer</div>
                          </div>
                        </a>

                         <a href="#">
                          <div class="job" data-id="job3" onmouseover="showTextBox(3)" onmouseout="hideTextBox()">
                            <div class="job-title">Software Engineer</div>
                            <div class="job-picture"><img src="{{ url_for('static', path='/activevideo.png') }}"></div>
                            <div class="job-title">ActiveVideo</div>
                            <div class="job-text">Dutch-American video streaming company</div>
                          </div>
                        </a>

                         <a href="#">
                          <div class="job" data-id="job4" onmouseover="showTextBox(4)" onmouseout="hideTextBox()">
                            <div class="job-title">Backend Engineer</div>
                            <div class="job-picture"><img src="{{ url_for('static', path='/mediadistillery.png') }}"></div>
                            <div class="job-title">Media Distillery</div>
                            <div class="job-text">Dutch video analysis company</div>
                          </div>
                        </a>

                        <div class="text-box" id="text-box">This is the text box</div>

                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="footer-social-media">
                <a href="https://www.linkedin.com/in/lucian-musat/" target="_blank"><div class="footer-linkedin"></div></a>
                <a href="https://github.com/lucianmusat" target="_blank"><div class="footer-github"></div></a>
            </div>
        </div>

    </div>

    <script>
        const firstColumn = document.querySelector(".left-column:nth-child(1)");

        window.addEventListener("scroll", () => {
          const scrollTop = window.scrollY;
          firstColumn.style.transform = `translateY(-${scrollTop * 0.2}px)`;
        });

        const yearDividers = document.querySelectorAll('.year-divider');
        const jobs = document.querySelectorAll('.job');

        yearDividers.forEach(yearDivider => {
          yearDivider.addEventListener('mouseenter', () => {
            const targetId = yearDivider.getAttribute('data-target');
            const targetJob = document.querySelector(`.job[data-id="${targetId}"]`);
            targetJob.classList.add('hovered');
          });

          yearDivider.addEventListener('mouseleave', () => {
            jobs.forEach(job => job.classList.remove('hovered'));
          });
        });

        const textBox = document.getElementById('text-box');
        document.addEventListener('mousemove', (e) => {
            textBox.style.left = (e.pageX + 10) + 'px';
            textBox.style.top = (e.pageY + 10) + 'px';
        });

        function showTextBox(target) {
            textBox.style.display = 'block';
            switch (target) {
                case 1:
                    textBox.innerText = 'My first real job. Before this I was in university, and also moonlighting as a web developer. \nI was doing L4 support for a product called Mailis, sometimes involved digging in the source code and maybe deliver patches.\n\nMain technologies were Java, Solaris, Oracle DB'
                    break;
                case 2:
                    textBox.innerText = 'Started as a contractor, but after a short while got hired as an internal employee.\nAt first I worked as a QA engineer for Android TV and Tizen, but switched projects to Yocto where I stayed until the end.\n\nMain technologies were Python, Yocto Linux, lots of hardware harnessing for automation, Lava CI';
                    break;
                case 3:
                    textBox.innerText = 'Got contacted by an Amsterdam based recruiter out of the blue for this position and decided to give it a try.\nStarted out as an Automation Engineer and after a few years moved to C++ developer.\n\nMain technologies were C++, Python, Docker, video streaming, ffmpeg';
                    break;
                case 4:
                    textBox.innerText = 'Current job, decided to continue in the field of video processing but also dive into AWS and devops. \n\nMain technologies are AWS, Java, Spring, Docker, Kubernetes, Cassandra, Elasticsearch';
                    break;
                default:
                    textBox.innerText = 'Unknown target';
            }
        }

        function hideTextBox() {
            textBox.style.display = 'none';
        }

    </script>

</body>

</html>